:root {
    --bg0: #232831; 
    --bg1: #2e3440;
    --bg2: #39404f;
    --bg3: #444c5e;
    --bg4: #5a657d; 
    --fg: #c7cdd9;
    --fg1: #cdcecf; /* Not used */
    --fg2: #abb1bb; /* Not used */
    --fg3: #7e8188; /* Not used */
    --purple: #b48ead;
    --green: #a3be8c;
    --orange: #c9826b;
    --blue: #81a1c1;
    --yellow: #ebcb8b;
    --cyan: #88c0d0;
    --red: #bf616a;
    --grey: #5a5b5e;
    --light_grey: #818387;
    --dark_cyan: #69a7ba;
    --dark_red: #a54e56;
    --dark_yellow: #d9b263;
    --dark_purple: #9d7495;

    --max-page-width: 50%;
}

@font-face {
    font-family: RobotoMono;
    src: url("../fonts/Roboto Mono Nerd Font Complete.ttf");
}

@font-face {
    font-family: Anton;
    src: url("../fonts/Anton-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RobotoMono, sans-serif;
}

*:focus {
    outline: none;
}

html,
body,
#root {
    height: 100%;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0 auto;
    background-color: var(--bg0);
    color: var(--fg);
}

a {
    text-decoration: none;
    color: var(--fg);
    transition: all 250ms ease-in;
}

li {
    list-style: none;
}

.container {
    padding: 1rem;
    height: 100%;
    width: var(--max-page-width);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-heading-container {
    margin-top: 5rem;
}

.page-heading-container h1 {
    font-size: 3rem;
}

.page-heading-container h1::after {
    display: block;
    content: "";
    width: 100px;
    height: 2px;
    border-radius: 3px;
}

.page-desc {
    padding-top: 0.5rem;
    padding-bottom: 3rem;
    font-style: italic;
    color: var(--green);
}
