.blog-page-heading h1 {
    color: var(--cyan);
}

.blog-page-heading h1::after {
    background-color: var(--cyan);
}

.blog-page-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blog-search-form {
    background-color: var(--bg1);
    border: 3px solid var(--bg1);
    padding: 1rem;
    border-radius: 5px;
    color: var(--fg);
    transition: all 250ms ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.blog-search-form:hover,
.blog-search-form.focused {
    border-color: var(--bg2);
}

.blog-search-input {
    background: transparent;
    border: none;
    color: var(--fg);
}

.blog-search-form button {
    background-color: transparent;
    border: none;
    color: var(--fg);
    cursor: pointer;
}

.blog-page-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem 0;
    width: 100%;
    gap: 1rem;
}

.blog-page-posts-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 65%;
}

.blog-page-clear-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.blog-page-clear-search-btn {
    color: var(--red);
    cursor: pointer;
}

.blog-page-clear-search-btn:hover,
.blog-page-clear-search-btn:focus {
    color: var(--dark_red);
}
.blog-page-post-container {
    background-color: var(--bg1);
    border-radius: 5px;
    padding: 1rem;
    transition: all 250ms ease-in;
}

.blog-page-post-container:hover,
.blog-page-post-container:focus {
    background-color: var(--bg2);
}

.blog-page-post-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.blog-page-post-description {
    margin: 1rem 0;
}

.blog-page-post-topics-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.blog-page-post-topic,
.blog-page-topic {
    padding: 0.5rem;
    background-color: var(--bg3);
    border: 1px solid var(--bg1);
    border-radius: 5px;
}

.blog-page-topics-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}

.blog-page-topics-container h3 {
    color: var(--yellow);
}

.blog-page-topics-list-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.blog-page-topic {
    cursor: pointer;
    transition: all 250ms ease-in;
}

.blog-page-topic:hover,
.blog-page-topic:focus {
    background-color: var(--green);
    color: var(--bg1);
}
